<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <%= stylesheet_link_tag "sb-admin-2" %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-social" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "metisMenu.min" %>
    <%= stylesheet_link_tag "morris" %>
    <%= stylesheet_link_tag "dataTables.bootstrap.min" %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= stylesheet_link_tag "dataTables.bootstrap4.min" %>
    <%= stylesheet_link_tag "dataTables.foundation.min" %>
    <%= stylesheet_link_tag "dataTables.jqueryui.min" %>
    <%= stylesheet_link_tag "dataTables.material.min" %>
    <%= stylesheet_link_tag "dataTables.semanticui.min" %>
    <%= stylesheet_link_tag "dataTables.uikit.min" %>
    <%= stylesheet_link_tag "jquery.dataTables.min" %>
    <%= stylesheet_link_tag "jquery.dataTables_themeroller" %>
   
    
</head>

<body>
    
    <%= render 'dashboard/index' %>


</body>

</html>

